name: test

on: [push, pull_request]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-node@v1.1.0
      with:
        version: '12.x'
    - name: Install Dependencies 
      run: yarn install
    - name: run test
      run: yarn test
